:root {
    --primary-color: #86dcac;
    --primary-background-color: darkslategrey;
    --text-color: #333333;
    --background-color: #FFFFFF;
    --header-footer-bg: #004085;
    --header-footer-text: #FFFFFF;
    --heading-color: #ffffff;
    --font-family: "Arial", sans-serif;
    --form-bg: #F8F9FA;
    --button-bg: #007BFF;
    --button-text: #FFFFFF;
    --button-hover-bg: #0056B3;
    --dark-mode-bg: #343A40;
    --dark-mode-text: #F8F9FA;
    --dark-mode-header-footer-bg: #23272B;
    --dark-mode-form-bg: #495057;
    --dark-background-color: #1e1e1e;
    --border-radius: 8px;
    --standard-padding: 20px;
    --standard-margin: 20px;
}

body {
    font-family: var(--font-family);
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 15px 25px;
    text-align: center;
}

main {
    padding: 20px;
    margin: auto;
    max-width: 960px;
}

h1 {
    color: var(--heading-color);
}

form {
    background-color: var(--form-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

#goals-display {
    background-color: var(--form-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 20px;
}

#goals-display h2 {
    color: #000000;
    margin-bottom: 15px;
}

#goals-display p {
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
    margin: 5px 0;
    background-color: var(--background-color);
    border-left: 5px solid var(--button-bg);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.goal-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goal-item > span {
    font-weight: bold;
}

.progress-bar {
    height: 20px;
    width: 300px;
    background-color: #cccccc;
    margin-left: 10px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.progress-bar-inner {
    height: 100%;
    background-color: var(--button-bg);
    width: 0%;
    border-radius: 10px;
    text-align: right;
    padding-right: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: width 0.3s ease;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 10%;
}

button {
    background-color: var(--button-bg);
    color: var(--button-text);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-bg);
}

body.dark-mode {
    background-color: var(--dark-background-color);
    color: var(--dark-mode-text);
}

body.dark-mode header, body.dark-mode footer {
    background-color: var(--dark-primary-color);
}

body.dark-mode #goal-form input[type="number"] {
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode form {
    background-color: var(--dark-mode-form-bg);
}

body.dark-mode #goals-display {
    background-color: var(--dark-mode-form-bg);
    color: var(--dark-mode-text);
}

body.dark-mode #goals-display h2 {
    color: #ffffff;
}

body.dark-mode label {
    color: #ffffff;
}

body.dark-mode #goals-display p {
    background-color: var(--dark-mode-bg);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

body.dark-mode .progress-bar-inner {
    background-color: var(--button-hover-bg);
}

@media (max-width: 768px) {
    body {
        padding: 5px;
    }

    main {
        padding: 10px;
    }
}